$black: #000;
$white: #fff;
$light-grey: #cac8c9;
$lighter-grey: #e1e0e0;
$grey: #959595;
$dark-grey: #303030;
$red: #fc0d1b;
$blue: #48c0e6;

$font-family: Arial, sans-serif;
$bold-font-family: Futura, "Trebuchet MS", Arial, sans-serif;
$serif-font-family: serif;

